<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimal Flight Time Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css" type="text/css"> 

<style>
	body {
    background-color: #00BFFF;
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }



</style>


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">OPTIMAL FLIGHT TIME</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\predict" method="post">
            <div style="width: auto; margin-left: auto; margin-right: auto">


            <div class="row">
                <div class="col-sm-20">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Source</h5>
                            <select name="Dept_city" id="Dept_city" required="required">
                                <option value="1">NewDelhi</option>
                                <option value="6">Kolkata</option>
                                <option value="2">Mumbai</option>
                                <option value="5">Chennai</option>
                				<option value="3">Bengaluru</option>
                				<option value="4">Hyderabad</option>
                				<option value="7">Kochi</option>
                                <option value="8">Goa</option>
                                <option value="9">Pune</option>
                                <option value="10">Guwahati</option>
                				<option value="11">Lucknow</option>
                				<option value="12">Jaipur</option>
                				<option value="13">Patna</option>
                                <option value="14">Thiruvananthapuram</option>
                                <option value="15">Bhubaneswar</option>
                                <option value="16">Kozhikode</option>
                				<option value="17">Bagdogra</option>
                				<option value="18">Nagpur</option>
                				<option value="19">Varanasi</option>
                                <option value="20">Indore</option>
                				<option value="21">Coimbatore</option>
                				<option value="22">Srinagar</option>
                				<option value="23">Visakhapatnam</option>
                                <option value="24">Ranchi</option>
                				<option value="25">Amritsar</option>
                				<option value="26">Chandigarh</option>
                				<option value="27">Raipur</option>
                                <option value="28">Mangalore</option>
                				<option value="29">PortBlair</option>
                				<option value="30">Tiruchirappalli</option>	

                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-20">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Destination</h5>
                            <!-- Destination -->
                            <select name="arrival_city" id="arrival_city" required="required">
                                <option value="1">NewDelhi</option>
                                <option value="6">Kolkata</option>
                                <option value="2">Mumbai</option>
                                <option value="5">Chennai</option>
                				<option value="3">Bengaluru</option>
                				<option value="4">Hyderabad</option>
                				<option value="7">Kochi</option>
                                <option value="8">Goa</option>
                                <option value="9">Pune</option>
                                <option value="10">Guwahati</option>
                				<option value="11">Lucknow</option>
                				<option value="12">Jaipur</option>
                				<option value="13">Patna</option>
                                <option value="14">Thiruvananthapuram</option>
                                <option value="15">Bhubaneswar</option>
                                <option value="16">Kozhikode</option>
                				<option value="17">Bagdogra</option>
                				<option value="18">Nagpur</option>
                				<option value="19">Varanasi</option>
                                <option value="20">Indore</option>
                				<option value="21">Coimbatore</option>
                				<option value="22">Srinagar</option>
                				<option value="23">Visakhapatnam</option>
                                <option value="24">Ranchi</option>
                				<option value="25">Amritsar</option>
                				<option value="26">Chandigarh</option>
                				<option value="27">Raipur</option>
                                <option value="28">Mangalore</option>
                				<option value="29">PortBlair</option>
                				<option value="30">Tiruchirappalli</option>	
				
                            </select>
                        </div>
                    </div>
                </div>
                <br>
               
                <div class="col-sm-20">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Departure Date</h5>
                            <!-- Departure -->
                            <input type="datetime-local" name="departure_time" id="departure_time" required="required">
                        </div>
                    </div>
                </div>
                <br>
                 <div class="col-sm-20">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Arrival Date</h5>
                            <!-- Arrival -->
                            <input type="datetime-local" name="arrival_time" id="arrival_time" required="required">
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="col-sm-20">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Cabin</h5>
                            <!-- cabin -->
                            <select name="Cabin" id ="Cabin" required="required">
                                <option value="E">E</option>
                                <option value="PE">PE</option>
                                <option value="B">B</option>
                                
                            </select>
                        </div>
                    </div>
                </div>    
           
            </div>
        </div>
    </div>   
    
           
            <br>
            
		
	    
            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
        
        <br>
        <br>
        <br>
        
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>
        <br>

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>